<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="poly.persistance.mapper.UserMapper"> <!-- 연동할 자바파일(클래스)이 어떤 것인지 명시 -->

<insert id="userRegProc" parameterType="UserDTO">
	INSERT INTO
	USER_INFO
	(
		USER_SEQ,	<!-- 데이터베이스에 등록된 컬럼명과 일치해야함 -->
		USER_ID,
		USER_NAME,
		REG_DT,
		USER_PASSWORD
	)
	VALUES
	(
		USER_SEQ.NEXTVAL,
		#{userId},		<!-- UserDTO에 선언된 멤버변수의 명과 일치해야함 -->
		#{userName},
		SYSDATE,
		#{userPassword}
	)
</insert>

<select id="getLogin" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		USER_NAME AS userName, <!-- dto의 변수명과 일치해야 -->
		USER_ID AS userId,
		USER_SEQ AS userSeq
	FROM USER_INFO
	WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
</select>
</mapper>